<h1>Editing matter type</h1>

<%= render "form", matter_type: @matter_type %>

<br>

<div>
  <%= link_to "Show this matter type", @matter_type %> |
  <%= link_to "Back to matter types", matter_types_path %>
</div>
