<div id="<%= dom_id test_procedure %>">
  <p>
    <strong>Name:</strong>
    <%= test_procedure.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= test_procedure.department.name %>
  </p>

  <p>
    <strong>Matter type:</strong>
    <%= test_procedure.matter_type.name %>
  </p>

</div>
