<h1>Editing test procedure</h1>

<%= render "form", test_procedure: @test_procedure %>

<br>

<div>
  <%= link_to "Show this test procedure", @test_procedure %> |
  <%= link_to "Back to test procedures", test_procedures_path %>
</div>
